---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<!-- <h2>{{ site.title }}</h2> -->
							<img src="images/sg_logo.png" alt="" />
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="https://discord.gg/UyVAHJtXPA" class="button special"><i class="icon fa-discord"></i> Dołącz</a></li>
						</div>
						<a href="#about" class="more scrolly">Więcej</a>
					</section>


				<!-- About Us -->
					<section id="about" class="wrapper style1">
						<section class="spotlight background about box_center">
							<div class="inner content box">
								<header class="major">
									<h2>Strefa Gier</h2>
									<p>StrefaGier.com.pl to jedną z najstarszych polskich społeczności gamingowych założona w 2001 roku. Wśród nas są osoby w różnym przedziale wiekowym, od studentów aż po ciężko pracujących, szukających relaksu i miłego spędzenia czasu. Skupiamy się głównie wokół gier multiplayer, stawiających na coop i szeroko pojętą współpracę.</p>
								</header>
							</div>
						<a href="#arma" class="more scrolly">Więcej</a>
						</section>
					</section>

				<!-- Two -->
					<section id="arma" class="wrapper alt style2">
						<section class="spotlight background arma box_left">
							<div class="content box">
								<h2>Arma 3</h2>
								<p>Na naszych serwerach Arma 3, gramy w tryb CTI Liberation RX, polegający na odbiciu terytorium z rąk wroga. Wraz ze swoimi towarzyszami, doświadcz wieloosobowej kampanii CTI, gdzie jest do przejęcia około 200 różnych sektorów. Cooperative przeznaczony aż dla 34 graczy, rekrutuj żołnierzy AI, kupuj pojazdy, zbuduj bazę FOB ze swoich marzeń. Zwalczaj agresywne i podstępne wrogie siły, które reagują na twoje działania, zalicz losowo generowane zadania drugorzędne - secondary objectives.</p>
								<a href="https://www.gametracker.com/server_info/51.77.56.144:2302/" target="_blank"><img src="https://cache.gametracker.com/server_info/51.77.56.144:2302/b_560_95_1.png" border="0" width="560" height="95" alt=""/></a><br>
								<a href="https://www.gametracker.com/server_info/51.77.56.144:2312/" target="_blank"><img src="https://cache.gametracker.com/server_info/51.77.56.144:2312/b_560_95_1.png" border="0" width="560" height="95" alt=""/></a><br>
								<a href="https://www.gametracker.com/server_info/51.77.56.144:2322/" target="_blank"><img src="https://cache.gametracker.com/server_info/51.77.56.144:2322/b_560_95_1.png" border="0" width="560" height="95" alt=""/></a>
							</div>
							<!-- <div class="image"><img src="images/pic01.jpg" alt="" />
								
							</div> -->
							<a href="#minecraft" class="more scrolly">Więcej</a>
						</section>
					</section>

				<!-- Two -->
				<section id="minecraft" class="wrapper alt style2">
					<section class="spotlight background minecraft">
						<div class="content box">
							<h2>Minecraft</h2>
							<p>Zapraszamy na nasz serwer Minecraft.</p>
							<a href="https://www.gametracker.com/server_info/51.77.56.144:25565/" target="_blank"><img src="https://cache.gametracker.com/server_info/51.77.56.144:25565/b_560_95_1.png" border="0" width="560" height="95" alt=""/></a>
						</div>
						<!-- <div class="image"><img src="images/pic01.jpg" alt="" />
							
						</div> -->
						<a href="#factorio" class="more scrolly">Więcej</a>
					</section>
				</section>

				<!-- Two -->
				<section id="factorio" class="wrapper alt style2">
					<section class="spotlight background box_left factorio">
						<div class="content box">
							<h2>Factorio</h2>
							<p>Zapraszamy na nasz server Factorio. Szczegóły na discordzie.</p>
							<p>
								{% for server in site.data.factorio %}
									{% if /(.+) from server.name (.+)/.match('[PL] Factorio | StrefaGier.com.pl') %}
										{{server.name}}
									{% end %}
								{% endfor %}	
							</p>
						</div>
						<!-- <div class="image"><img src="images/pic01.jpg" alt="" />
							
						</div> -->
						<a href="#contact" class="more scrolly">Więcej</a>
					</section>
				</section>

				<!-- Three
					<section id="servers" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Accumsan mus tortor nunc aliquet</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Arcu accumsan</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Ac Augue Eget</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-code">
									<h3>Mus Scelerisque</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Mauris Imperdiet</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
						</div>
					</section> -->

				<!-- CTA -->
					<section id="contact" class="wrapper style4">
						<div class="inner content box">
							<header>
								<h2>Kontakt</h2>
								<p>Do wszelkiego kontaktu zapraszamy na nasz serwer Discord.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="https://discord.gg/UyVAHJtXPA" class="button special"><i class="icon fa-discord"></i> Dołącz</a></li>
							</ul>
						</div>
					</section>
